class LocationMap extends React.Component {
   constructor(props){
      super(props);
      this.setState = this.setState.bind(this);
      this.makeMap = this.makeMap.bind(this);
      this.makeMarkers = this.makeMarkers.bind(this);
      this.state = {
         locations: props.locations,
         map: undefined
      };
   }
   componentDidMount(){
      this.makeMap();
   }
   componentWillReceiveProps(nextProps){
      console.log("new props");
      this.setState({locations: nextProps.locations});
      this.makeMarkers(this.state.map, nextProps.locations);
   }
   makeMap(){
      var thisMap = this;
      var customMapType = new google.maps.StyledMapType([
         {
            featureType: 'poi',
            elementType: 'labels',
            stylers:[
               {visibility: 'off'}
            ]
         }
      ],{
            name: 'Custom Style'
      });
      var customMapTypeId = 'custom_style';
      var map = new google.maps.Map(document.getElementById('map'), {
         center: {lat: 48, lng: -122},
         zoom: 8,
         draggableCursor: 'default',
         mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
          }
      });
      map.mapTypes.set(customMapTypeId, customMapType);
      map.setMapTypeId(customMapTypeId);
      thisMap.setState({map: map});
      google.maps.event.addListener(map, "click", function(e){
         thisMap.props.handleClick(e);
      });
      thisMap.makeMarkers(map, thisMap.state.locations);
   }
   makeMarkers(map, locats){
      console.log("make marks");
      for(locat in locats){
         var icon = null;
         switch(locats[locat].designation){
            case "home":
               icon = "<%= asset_path('home.png') %>"
               break;
            case "restaurant":
               icon = "<%= asset_path('restaurant.png') %>"
               break;
            case "friend":
               icon = "<%= asset_path('friend.png') %>"
               break;
            case "work":
               icon = "<%= asset_path('work.png') %>"
               break;
            case "landmark":
               icon = "<%= asset_path('landmark.png') %>"
               break;
            case "school":
               icon = "<%= asset_path('school.png') %>"
               break;
            case "appointment":
               icon = "<%= asset_path('appointment.png') %>"
               break;
            case "other":
               icon = "<%= asset_path('other.png') %>"
               break;
         }
         var marker = new google.maps.Marker({
            position: {lat: parseFloat(locats[locat].yCoord), lng: parseFloat(locats[locat].xCoord)},
            map: map,
            icon: icon
         })
      }
   }
   render(){
      return(
         <div id="map"></div>
      );
   }
}
